<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DIY Home Repaire Guide | <%= title %></title>
        <link rel="stylesheet" href="/About Us/aboutUs.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    </head>

    <body>

        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <a href="/"><img src="/Website_Logo.png"></a>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contacts">Contacts</a></li>
            </ul>
        </nav>

        <div class="main">

            <div class="aboutUs-container">

                <div class="aboutUs">
                    <h1 class="aboutUs-header">About Us</h1>
                    <p class="aboutUs-sentence">DIY Home Repair Guide</p>
                </div>

                <div class="vision-container">
                    <div class="vision-paragraph">
                        <h1 class="vision-header">Our Vision</h1>
                        <p class="vision-sentence">Our vision is to empower homeowners with the knowledge, skills, and confidence to take control of their home repairs and improvements. We believe that every homeowner should have access to reliable, easy to follow guidance that allows them to tackle projects efficiently, safely, and cost effectively. By providing step by step tutorials, expert tips, and practical advice, we aim to transform home maintenance from a daunting task into an achievable and rewarding experience. <br> <br> Our goal is to help create homes that are not only functional and durable but also spaces that inspire comfort, creativity, and pride.</p>
                    </div>
                    <div>
                        <img class="vision-photo" src="/Our_Vision.jpg">
                    </div>
                </div>

                <div class="approach-container">
                    <div>
                        <img class="vision-photo" src="/Our_Approach.jpg">
                    </div>
                    <div class="approach-paragraph">
                        <h1 class="approach-header">Our Approach</h1>
                        <p class="approach-sentence">At DIY Home Repair Guide, our approach is built on simplicity, clarity, and practicality. We break down complex home repair tasks into easy to follow steps, ensuring that homeowners of all skill levels can confidently take on projects. Our guides prioritize safety, efficiency, and cost-effectiveness, helping you make informed decisions about materials, tools, and techniques. We focus on hands on learning, providing detailed tutorials, expert insights, and troubleshooting tips to help you navigate challenges. Whether you're fixing a leaky faucet, upgrading your flooring, or improving home safety, our goal is to equip you with the right knowledge to get the job done right the first time.</p>
                    </div>
                </div>

                <div class="process-container">
                    <div class="process-paragraph">
                        <h1 class="process-header">Our Process</h1>
                        <p class="process-sentence">Our process is designed to make DIY home repairs accessible, structured, and stress free. We start by identifying common household issues and breaking them down into clear, step-by-step solutions. Each guide is carefully crafted to include detailed instructions, essential tools, safety precautions, and expert tips to ensure successful execution. We emphasize a hands-on learning experience, encouraging homeowners to develop practical skills while building confidence in their abilities. Whether it's a minor fix or a major upgrade, our process ensures that every repair is approached methodically, efficiently, and with lasting results in mind.</p>
                    </div>
                    <div>
                        <img class="process-photo" src="/Our_Process.jpg">
                    </div>
                </div>
                
            </div>

        </div>

    </body>

</html>